exportPattern("^[[:alpha:]]+")
 export(uainit,uaperformance, uadatasets,ualog,uaopendataset, uagetdatasetsenv, uagetlogenv, uastartlog, 
		ualogcommand, uaretlog, uaLogFunArgsDetails,uadatasets.sk, ualog, uawritelog, uaprocdesc,uagetindex,
		uagetsplitinfo,uagetlevels,uagetsplitcriteria,uabihandlemissvalsnew1)
		
 #export(UAgetIndexOfDataSet, UAgetColNames, UAgetColLevelSplit , ) 
 export( UAgetColData, UAgetRowsOfColByIndex, UAgetRowsByIndex, BSkyOpenNewDataset, GetTableList , UAgetSPSSVariableView_Label)

 #export(UAsetSPSSColNames, UAsetSPSSColType,UAsetColDesc ,UAsetSPSSColLevels, UAsetColLevelSplit,)
 export(UAaddSPSSColumn, UAsetColasFactor, UAsetSPSSColMeasure,  UAsetSPSSColData,	UAsetSPSSColProperties, UAgetColProperties)

 #export(UAgetColAlign,UAsetColAlign,)
 export(BSkyloadDataset, BSkysaveDataset, BSkycloseDataset, UAgetColProp, UAsetColProp, BSkygetIndexesOfCols, 
		UAgetMissing, UAsetMissing,UAgetDataframeSplit, UAsetDataframeSplit, UAremoveDataframeSplit,BSkySetDataFrameSplit)
		
 #export(BSkyDatasetExists, BSkyColumnExists )BSkyAddNewDatagridRow
 export(BSkyEditDatagrid,BSkyAddNewDatagridRowAR ,BSkyRemoveDatagridRow, BSkyAddVarRow, BSkyRemoveVarRow, 
		BSkyChangeLevels, BSkyChangeMissings, BSkyGetColNumericFactors )
		
#export(BSkyFunctionExists, ColNametoTitleOrObject)		
 export(BSkyScaleToNominalOrOrdinal, BSkyNominalOrOrdinalToScale, BSkyOrdinalToScale, BSkyGetFactorMap, BSkyGetLevelIndex, 
 BSkyOutputTestDriver, BSkyFormat,  BSkySortDataframe, BSkyComputeExpression, BSkyRecode, BSky.Activate.Dataset)		
 
 export(bsky.plot, bsky.histogram, bsky.fullhistogram)
 export(BSkyOneSmTTest, BSkyCrossTable, BSkyIndSmTTest)	
 
 #temporary function in export. Check & Remove them after implementing batch commands
 export(BSkySetCurrentDatasetName, BSkyComputeSplitdataset, BSkyGetNextDatasetSliceIndex, CommandBatch, BSkyFunctionInit, BSkyFunctionWrapUp, BSkyStoreApplicationWarnErrMsg,
 UAwarnHandlerFn, UAerrHandlerFn, uaGlobalErrorFound, BSkyGlobalErrorFound,  uaGlobalWarningFound, BSkyGlobalWarningFound, WriteLatestUberErrorInReturnTables,
 BSkyComputeCurrentVarNamesAndFactorValues, uaRetInitialize, uaIsDatasetSplit, uaGetUberFunctionName, uaGetUberFunctionParam, BSkyBuildReturnTableStructure,
 BSkyReturnStructure, BSkyBatchCommand, BSkyIsInBatchCommandMode, 
 BSkyGetDatasetName, BSkyGetVarNames, BSkyGetDatasetGlobalIndex, BSkyGetVarGlobalIndices)
 
 ##for testing col objname Vs colnames
 export(BSkyTwoWayFrequency, bsky.example.2WayFrequency.no.split2, bsky.example.2WayFrequency.no.split1)
 
 #export(BSkyGetFilenameOrPath, BSkyFilename2Datasetname) 

#Functions called while working with grids(data/var) and other related functions. these must return new template structure
#UAcloseDataset    UAgetColProp  *UAsetColProp  BSkyAddVarRow   BSkyRemoveVarRow    BSkyChangeLevels    BSkyEditDatagrid   
# check-BSkyAddNewDatagridRow
# BSkyRemoveDatagridRow   BSkyScaleToNominalOrOrdinal   BSkyGetFactorMap   BSkyNominalOrOrdinalToScale   BSkyGetColNumericFactors

export(New.version.BSkyGetNextDatasetSplitSlice, New.version.BSkyComputeSplitdataset)#
export(BSky.LoadRefresh.Dataframe,BSkyLoadRefreshDataframe, BSkyRemoveRefreshDataframe, BSkyReloadDataset)
#export( BSkyFormat2, BSkyListObjectFormat, BSkyTableObjectFormat)
export(BSkyBatchFunctionModeResetForUberFunction )
export(BSkyVersion)

#RCmdr Functions
export(bin.var, BSkyStandardizeVars, KMeans )

#RCmdr Graphs
export(plotMeans, Hist)

#Decimal Digit Setting
export(BSkySetDecimalDigitSetting ,BSkyGetDecimalDigitSetting, BSkyFormat2)

#KMeans
export(BSkyKMeans, BSkyBiPlot)

#HierarchicalCluster
export(BSkyHierClus, plotDendogram, BSkyHClustBiPlot, BSkyHeatMap)

#bskypkg1
export(BSkyTableObjectFormat,BSkyListObjectFormat,BSkyMatrixObjectFormat,BSkyDataFrameObjectFormat,BSkyGetHoldFormatObjList,BSkyByObjectFormat,BSkySummaryStats,BSkyDecimalDigitFormating,BSkySetDecimalDigitSetting,BSkyGetDecimalDigitSetting,BSkyReturnStructure2,BSkyBuildReturnTableStructure2)

export(BSkyPrinCompAnalysis, BSkyFactorAnalysis, BSkyGraphicsFormat, BSkyConvertObj)

export(BSkyPrintARIMA, BSkyPlotSeriesWithCorrelations, BSkyHoltWintersSeasonal, BSkyPlotTimeSeries, BSkyAutoArima, BSkyRegression )

export(BSkyMakeColumnFactor, BSkyAddLevels, BSkyMakeMultiColumnFactor)

export(BSkySetEngNotationSetting,BSkyGetEngNotationSetting)

export(BSky_Shapiro_Wilk_normality_test)

export(BSkyTukeyHSD, BSkyInstallPkg)

export(ConnectSQL,ExecuteQuery,GetSQLDatabases,GetSQLTables,GetSQLViews,GetSQLTablesAndViews,GetSQLTableColumns, GetDataframe, TestQuery, CloseBSkySQLconnection)

export(TestErrors, getEnv, BSkyEnvTest, BSkyLoadRefreshDataframe2)

export(BSkyGetAllColsProperties)

export(BSkyInstalledReqPkgVer,BSkyMakeColumnString,FindInDataset, ReplaceSplChrsAndPrefixXForDigitInBegining,BSkyRemoveMultipleVarRows )

export(StepwisePrerequisite, BSkyStepAIC,BSkyPrintRandomForest,RF.proximity.predictor, BSkyMultiRandomForest, BSkyGetAvailableModels)

export(predictPrerequisite, getModelClass, getModelDependentVariable, getModelIndependentVariables, BSkyPredict.Generic, BSkyPredict,  BSkyConfusionMatrix)

export(BSky.Sample.Dataset)

export(	BSkyTest1,	BSkyTest2,	BSkyTest3,	BSkyTest4)

export(ExtractDatasetNameFromGlobal, bsky.trim.leading, bsky.trim.trailing, bsky.trim)

export(confint, format.perc, confint.lm , confint.glm, confint.nls, confint.default)

export(BSkyReadTransactions)

export(loadReqModelPackage, getModelInitials, BSkyWriteToSink)

export(BSkyDisplayRules, BSkyPaste5)

export(BSkywriteSAV, BSky.GetDataframeObjNames)

export (BSkyFrequency, BSkySortDatagridCol, BSkyReorderVarnamesInAlphabeticalOrder, BSkystrptime, BSkystrftime) 

export (BSkyFactorVariableAnalysis)

export(naCheck, BSkySetWeight)

export(validateDataRasch, checkDichotomous10s, validateDataPartialCredit, checkPolychotomous, checkLevelsStart0, validateDataRatingScale, BSkyPrintifitClass, BSky_tam_round_data_frame_print, BSkySummary.tam.mml, BSkySummaryeRm, BSky.is.wholenumber, BSkyall )

export(GetFonts, GetThemes, returnFactorNamesOfFactorVars, BSkyLoadRpkgDataset)

export(createROCTable)

export(MakeAllDateColUTC, ConvertColToUTC, GetColUTCoffsetSecs, GetUTCoffsetSeconds)

export(CreateDFfromClipboard)

export(BSkyorrr)

export(BSkyprint.summary.merMod, BSky.prt.resids, BSky.prt.VC)

export(BSkyProcessNewDataset, BSkyIsEmptyDataset)

export(createDataFrameFromList, missingValues)
export( GetColCellUTCoffsetSecs, GetWholeColUTCoffsetSecs)
export(printModelSummary, BSkyisValidName)

#Mode
export(getmode)

#Python
export(BSkyLoadRefresh)

#tibble-check
export(BSkyCheckIfTibble)

#kable
export(BSkySetKableAndRmarkdownFormatting, BSkyGetKableAndRmarkdownFormatting, BSkyWriteKableHtmlOutput, BSkySetHtmlStylingSetting)

#signif code showactualPvalue
export(BSkyGetPvalueDisplaySetting, BSkySetPvalueDisplaySetting)

#this is to check whether the BSkyFormat2 is directly call outside of our app environment e.g.  within RStudio
export(BSkyIsRmarkdownOutputOn)

#a new function (you will need to export) introduced to handle the lme class object by BSkyFormat (lme-object) just like lm, 
#GLM, Polr, Multinom regression model object support
export(BSkyFormatLmerMod)


#new functions
export(BSkyFormatBSkyOneSampleTtest, BSkyFormatBSkyIndSampleTtest, BSkyFormatBSkyFunctionParamParsing)

#cross tab
export(BSkyFormatBSkyCrossTable)

#21May2021
export(BSkySetTableDisplayLimits, BSkyGetTableDisplayLimits)

#23May2021
export(BSkySplitIterationHandling, BSkySplitVarsDatasetStringSub, BSkyDummyErrorWarningMuncher)

#08Jun2021
export(BSkyWriteErrorWarningsToSyncFile)

#14Jun2021 putting back empty cells in new blank dataset after analysis finished so that user may 
#have a chance to fill more data in the empty cells.
export(BSkyPutEmptyCellsBack)

#14Jun2021 this is used to replace the ugly data split name to the current dataset name 
export(BSkyReplaceSplitDatasetName)

#14Jun2021 
export(BSkyReplaceSplitDatasetName)
export(BSkyEvalRcommand, BSkyEvalRcommandBasic, BSkyRcommandErrWarnHandler, BSkyDatasetNameSubstitute, BSkyExpandBSkyFormatWithFooter)
export(BSkySetRCommandDisplaySetting, BSkyGetRCommandDisplaySetting, BSkyGetGraphicsDirPath, BSkySetGraphicsDirPath )

export(BSkySetSplitCountDisplaySetting, BSkyGetSplitCountDisplaySetting)

export(cohensdIndSmTTest, hedgesgIndSmTTest,cohensd ,hedgesg,glassdIndSmTTest,glassd)
#08/22/2021
export( BSkyGetDatasetNameTitle,BSkyGetDatasetNameFromPackageDatasetList, BSkyGetPackageNameFromPackageDatasetList )

export(BSkyGetDatasetSplitInfo, BSkyRCommandParsedCharCount)

export(BSkyRCommandParsedExprBoundary, BSkyRcommandParsingErrWarnHandler, BSkyDoNothingErrWarnHandler)

export(predictPrerequisiteCP)

export(BSkyGetAvailableModelsCP)

export(BSkyRCommandParsingTest)

export(BSkyRCommandLineNumberFromCharCount)

export(BSkysaveAsDataset) #for copy to non-ascii path

export(BSkyReadStata, BSkyWriteStata) #stata (.dta) file support

export(BSkyWriteSas) # write sas support

export(BSkySetTextTableFormat, BSkyGetTextTableFormat, BSkyVariableSummaryStats)
export(BSky.print.text, BSky.print.html, BSky.print.latex)

export( BSky.summary.aov, BSkyFormatsummary.Anova.mlm, BSkyprint.linearHypothesis.mlm, BSky.print.anova)

export(BSky_options)

export(BSkySetRHelpHTTPServer, BSkyGetRHelpHTTPServer)
export(cohenTest)

export(RemoveNonASCIIchars, BSkySanitizeDataset, BSkyCheckNullDataset)

export(BSkySetHelpProcessWorkers, BSkyGetHelpProcessWorkers, BSkySetHelpProcessSleepSeconds, BSkyGetHelpProcessSleepSeconds, BSkyGetRHelpParallelHTTPServerPortNumber)

export(BSkyInstall.packages)

export(BSkysetNewLibPath, BSkycheckNcreateUserLibs, BSkyaddNewUserLib)

export(BSkyGetMaxFactor, BSkySetMaxFactor)

export(BSkyGetLaTexColSpacing, BSkySetLaTexColSpacing)

export(BSkyReadWithRio, BSkyWriteWithRio, BSkyConvertFileFormat)

export(BSkyDOESetupFactorDataGrid, BSkyDOECreateFactorListParam)
